* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}
.color-light-gray {
  color: hsl(210, 46%, 95%);
}
.wrapper {
  max-width: 375px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  
}
.article-heading {
  flex: 1;
}

.article-heading img {
  height: 200px;
  width: 100%;
}

.article-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  padding: 0 2em;
}
.article-title {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-top: 1rem;
}
.article-description {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color:hsl(214, 17%, 51%);
  margin-top: 1rem;
}

.article-footer {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.article-footer-container {
  display: flex;
  align-items: center;
}
.article-footer-profile p:first-child {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.article-footer-profile p:nth-child(2) {
  color: hsl(214, 17%, 51%);
  font-size: 13px;
}
.article-footer .profile-img {
  width: 15%;
  height: auto;
  border-radius: 50%;
  margin-right: 1em;
}

.share {
  border-radius: 50%;
  border: 1px solid hsl(210, 46%, 95%);
  padding: 10px;
  background-color: hsl(210, 46%, 95%);
}
.share-footer-container {
  background-color: hsl(217, 19%, 35%);
  align-self: stretch;
}
.share-footer {
  padding: 0 2em;
  display: flex;
}